// Button
.btn-triangle {
  position: relative;
}
.btn-triangle::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  border-left: 16px transparent solid;
  border-bottom: 16px $primary solid;
}
.btn-triangle:hover::after {
  border-bottom: 16px black solid;
}
.btn-white {
  background-color: white;
  border: 1px solid black;
}
.btn-white:hover {
  background-color: $primary;
  color: white;
}
.btn-border:hover {
  background-color: $primary;
  color: white;
  border: 1px solid black;
}



// index ranking
.triangle {
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
  width: 0;
  height: 0;
  border-right: 16px solid #e6553b;
  border-top: 16px solid transparent;
}

.index-ranking {
  position: relative;
  @include lg {
    height: 374px;
  }
  .btn-triangle {
    display: none;
  }
  &:hover {
    &::after {
      content: "more";
      @include lg {
        content: "";
      }
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #000;
      opacity: 0.7;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .triangle {
      display: block;
      z-index: 1;
    }

    @include lg {
      .btn-triangle {
        z-index: 1;
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
      }
      .triangle {
        display: none;
      }
    }
  }

  &-image {
    width: 87px;
    @include lg {
      width: 100%;
      border: 1px solid $danger;
      height: 374px;
    }
  }

  &-number {
    text-align: center;
    width: 22px;
    height: 43px;
    line-height: 43px;    
    @include lg {
      width: 48px;
      height: 48px;
      line-height: 48px;
    }
  }
}

