// Button
.btn-triangle {
  position: relative;
  border-bottom: 1px solid #000;
  font-family: 'Squada One';
  margin-bottom: -1px;
  margin-right: -1px;
}
.btn-triangle::after {
  content: "";
  display: block;
  position: absolute;
  right: -1px;
  bottom: -1px;
  border-left: 16px transparent solid;
  border-bottom: 16px $primary solid;
}
.btn-triangle:hover::after {
  border-bottom: 16px black solid;
}
.btn-white {
  background-color: white;
  border: 1px solid black;
}
.btn-white:hover {
  background-color: $primary;
  color: white;
}
.btn-border:hover {
  background-color: $primary;
  color: white;
  border: 1px solid black;
}

// accordion
.accordion-button {
  &::before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    border-left: 32px transparent solid;
    border-bottom: 32px $black solid;
    @include lg {
      display: none;
    }
  }
  &::after {
    background-color: $black;
    content: '-';
    color: #fff;
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    right: 0;
    bottom: 0;
    padding-bottom: 4px;
    line-height: 16px;
    font-size: 24px;
    text-align: center;
    font-weight: light;
    @include lg {
      display: none;
    }
  }

  &:not(.collapsed) {
    &::before {
      border-bottom: 32px $primary solid;
    }
    &::after {
      content: '+';
      background-color: $primary;
    }
  }
}

